body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #000000;
}

header, footer {
    background-color: #156515;
    padding: 20px;
    text-align: center;
}

.games-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}

.game-card {
    border: 1px solid #156515;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    background-color: #464545;
    box-shadow: 0 1px 10px rgb(9, 212, 26);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.game-card:hover {
    transform: translateY(-5px);
}

.game-card img {
    width: 50%;
    aspect-ratio: 1/1; /* Makes images square */
    object-fit: contain; /* Shows entire image without cropping */
    background-color: #333; /* Fallback color for transparent images */
    padding: 0px;
    margin-bottom: 15px;

}

.game-card h2, .game-card p {
    color: #23aa23;
}

.btn, .btn:visited{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0f0;
    color: #000000 !important;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0c0;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo {
    height: 50px;
    width: auto;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.youtube-link-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.youtube-link-btn:hover {
    background-color: darkred;
}

a {
    color: #007bff;
}

a:visited {
    color: #ff69b4;
}

/* Responsive adjustments */
@media (max-width: 900px) {
    .games-grid {
        grid-template-columns: 1fr;
    }
}