*{
    margin: 0;
    padding: 0;
    }

    a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
   }

    body{
    background-image: url(file:///C:/Users/jankl/Documents/GitHub/Side.Games/pictures/background_4.PNG);
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;
    height: 100vh;
    }
    
    .title{
        font-style: initial;
        font-size: xx-large;
        color: rgb(161, 127, 201);
        text-align: center;
    }

    .title ul{
        text-align: left;
    }
    .Cat_Adventure{
        font-style: initial;
        font-size: xx-large;
        color: rgb(99, 99, 99);
        text-align: center;
    }

    
    .SAC{
        font-style: initial;
        font-size: xx-large;
        color: rgb(119, 65, 182);
        text-align: center;
    }



    .Cat_Adventure_dropdown{
        position: absolute;
        left: 700px;
        margin: 0 auto;
    }
    .Cat_Adventure_dropdown ul{
    list-style: none;
    margin-top: 2%;
    }
    .Cat_Adventure_dropdown ul li {
    background: #262626;
    width: 170px;
    border: 1px solid #fff;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 16px;
    position: relative;
    font-family: poppins;
    text-transform: uppercase;
    font-weight: bold;
    }
    .Cat_Adventure_dropdown ul li:hover{
    background: rgb(106, 6, 116); 
    }
    
    .Cat_Adventure_dropdown ul ul{
    display: none;
    position: sticky;
    }
    .Cat_Adventure_dropdown ul li:hover > ul{
    display: block;
    }
    .Cat_Adventure_dropdown ul ul ul{
    margin-left: 170px;
    top: 0;
    position: absolute;
    }
    
    .SAC_dropdown{
        position: absolute;
        left: 1050px;
        margin: 0 auto;
        }
        .SAC_dropdown ul{
        list-style: none;
        margin-top: 2%;
        }
        .SAC_dropdown ul li {
        background: #262626;
        width: 170px;
        border: 1px solid #fff;
        height: 50px;
        line-height: 50px;
        text-align: center;
        float: left;
        color: #fff;
        font-size: 16px;
        position: relative;
        font-family: poppins;
        text-transform: uppercase;
        font-weight: bold;
        }
        .SAC_dropdown ul li:hover{
        background: rgb(106, 6, 116); 
        }
        
        .SAC_dropdown ul ul{
        display: none;
        position: sticky;
        }
        .SAC_dropdown ul li:hover > ul{
        display: block;
        }
        .SAC_dropdown ul ul ul{
        margin-left: 170px;
        top: 0;
        position: absolute;
        }