body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* Dark grey background */
    color: #000000; /* Green text */
}

header, footer {
    background-color: #156515; /* Dark green header and footer */
    padding: 20px;
    text-align: center;
}

.game-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.game-card {
    border: 1px solid #156515; /* White border for contrast */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: #464545; 
    box-shadow: 0 1px 10px rgb(9, 212, 26); /* adds a subtle shadow */
}

.game-card img {
    max-width: 100%;
    height: auto;
}

.game-card h2, .game-card p{
    color: #23aa23; 
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #0f0;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Adjust spacing between the logo and the text */
}

.logo {
    height: 50px; /* Adjust logo size as needed */
    width: auto;
}



.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px; /* Adjust spacing between elements in the footer */
}

.youtube-link-btn {
    background-color: red; /* Red background */
    color: white; /* White text */
    border: none; /* Remove default button border */
    padding: 10px 20px; /* Some padding for better clickability */
    text-decoration: none; /* Remove underline from link */
    display: inline-block; /* Make the button behave like an inline element */
    margin: 5px; /* Optional: Add some margin around the button */
    border-radius: 5px; /* Rounded corners for the button */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.youtube-link-btn:hover {
    background-color: darkred; /* Darker shade of red on hover */
}

a:visited {
    color: #ff69b4; /* Bright pink for visited links */
}

a {
    color: #007bff; /* Bright blue for unvisited links */
}